* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 20px;
  background-color: #0f1016;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: min(350px, 100%);
  box-sizing: border-box;
  background-color: #191a20;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
p {
  margin-top: 10px;
  text-align: justify;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%, cyan);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}